@use '../../global/colors';

.price {
    &__package {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 460px;
        border: 1px solid colors.$gray950-op02;
        border-radius: 20px;
        background-color: colors.$white50;

        .descr {
            text-align: center;
            opacity: 1;
            margin-top: 20px;
        }

        &-cost {
            padding-top: 63px;
            padding-bottom: 61px;
        }


        &-mix {
            height: 500px;
            color: colors.$white50;
            background-color: colors.$gray950;

            .price__package-cost {
                padding-top: 83px;
                padding-bottom: 52px;
            }

            .descr {
                color: colors.$white50;
            }
        }
    }
}