@use '../../global/colors';

.price-card {
    height: 460px;
    border: 1px solid colors.$gray950-op02;
    border-radius: 20px;
    background-color: colors.$white50;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;

    &__header {
        text-align: center;
    }

    &__body {
        text-align: center;
    }

    &__text-container {
        display: flex;
        justify-content: center;
    }

    .descr {
        text-align: start;
        opacity: 1;
        margin-top: 20px;
        margin-bottom: 61px;
    }


    &-mix {
        height: 500px;
        color: colors.$white50;
        background-color: colors.$gray950;

        .descr {
            margin-bottom: 52px;
        }
    }

}