@use '/src/global/fonts';
@use '/src/global/mixin/base-font';
@use '/src/global/colors';

@use '/src/global/util-classes/font-weight';
@use '/src/global/util-classes/line-height';
@use '/src/global/util-classes/offsets';
@use '/src/global/util-classes/color';
@use '/src/global/util-classes/position';
@use '/src/global/util-classes/display';

* {
    box-sizing: border-box;
}

body {
    @include base-font.baseFont();
    font-size: 20px;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.menu {
    background-color: colors.$white;
}