@use '/src/global/fonts';
@use '/src/global/mixin/base-font';
@use '/src/global/colors';

* {
    box-sizing: border-box;
}

body {
    @include base-font.baseFont();
    font-size: 20px;
    font-weight: 400;
}