@use '../../global/colors';

.info {
    display: flex;
    grid-column-gap: 5px;
    align-items: flex-start;
    position: relative;

    &-text {
        display: none;
        position: absolute;
        bottom: 118%;
        left: 30.4%;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: colors.$white;
        box-shadow: 0 2px 8px colors.$gray950-op01;
    }

    img {

        &:hover+.info-text {
            display: block;
        }

        &:hover {
            background-image: url('/public/icons/info-hover.svg');
        }
    }
}