@use '../../global/colors';

.info {
    display: flex;
    grid-column-gap: 5px;
    align-items: flex-start;
    position: relative;

    &-text {
        display: none;
        position: absolute;
        top: -64px;
        padding: 15px 20px;
        border-radius: 5px;
        background-color: colors.$white50;
        box-shadow: 0 2px 8px colors.$gray950-op01;
        white-space: nowrap;
    }

    &-mobile {
        position: relative;

        &-block {
            position: absolute;
            top: 0;
            right: -38px;
        }

        &-text {
            display: none;
            position: absolute;
            top: -62px;
            right: -30px;
            font-size: 14px;
            font-weight: 400;
            line-height: 160%;
            padding: 15px 20px;
            border-radius: 5px;
            background-color: colors.$white50;
            box-shadow: 0 2px 8px colors.$gray950-op01;
            white-space: nowrap;
        }

        img {
            &:hover+.info-mobile-text {
                display: block;
            }

            &:hover {
                background-image: url('/images/icons/info-hover.svg');
            }
        }
    }

    img {

        &:hover+.info-text {
            display: block;
        }

        &:hover {
            background-image: url('/images/icons/info-hover.svg');
        }
    }
}

@media screen and (min-width: 1200px) {
    .info-text {
        top: -64px;
        right: 0;
    }
}