@use '../../global/breakpoints';

$columnsCount: 4;

.container-mobile {
    max-width: 596px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.m-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

@for $i from 1 through $columnsCount {
    .m-col-#{$i} {
        flex: 0 0 calc($i / $columnsCount * 100%);
        padding: 0 10px;
    }
}

@each $key, $value in breakpoints.$breakpoints {
    @media screen and (min-width: $value) {
        @for $i from 1 through $columnsCount {
            .m-col-#{$key}-#{$i} {
                flex: 0 0 calc($i / $columnsCount * 100%);
                padding: 0 10px;
            }
        }
    }
}