$white150: #F6F6F6;
$white100: #F9F9F9;
$white50: #fff;

$gray950: #141024;
$gray950-op02: rgba(20, 16, 36, 0.20);
$gray950-op01: rgba(20, 16, 36, 0.10);
$gray900: rgba(40, 41, 68, 0.70);

$red600: #D52027;
$red700: #9D1B20;