$white: #fff;

$gray950: #141024;
$gray900op70: rgba(20, 16, 36, 0.70);
$gray900op20: rgba(20, 16, 36, 0.20);
$gray900op10: rgba(20, 16, 36, 0.10);
$gray900op08: rgba(20, 16, 36, 0.08);
$gray800: rgba(40, 41, 68, 0.70);

$red: #D52027;