@font-face {
    font-family: 'Jost';
    font-weight: 400;
    font-style: normal;
    src: url('/font/static/Jost-Regular.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 600;
    font-style: normal;
    src: url('/font/static/Jost-SemiBold.ttf');
}

@font-face {
    font-family: 'Jost';
    font-weight: 700;
    font-style: normal;
    src: url('/font/static/Jost-Bold.ttf');
}