@use '/src/global/margins';
@use '/src/global/colors';

@each $key, $value in margins.$margins {
    .mt-#{$key} {
        margin-top: #{$value};
    }

    .mb-#{$key} {
        margin-bottom: #{$value};
    }

    .ml-#{$key} {
        margin-left: #{$value};
    }

    .mr-#{$key} {
        margin-right: #{$value};
    }
}

.text-white {
    color: colors.$white;
}

.text-red {
    color: colors.$red600;
}

.text-gray950 {
    color: colors.$gray950;
}

.regular {
    font-weight: 400;
}