@use '../../global/colors';

.text-white {
    color: colors.$white50;
}

.text-red {
    color: colors.$red600;
}

.text-gray950 {
    color: colors.$gray950;
}

.text-gray950_07 {
    color: colors.$gray950;
    opacity: 0.7;
}

.bg-milk {
    background-color: colors.$white100;
}