@use '/src/global/colors';


.title-h1 {
    font-size: 70px;
    color: colors.$white;
    font-weight: 600;
    line-height: 160%;

    &-info {
        color: colors.$red600;
    }
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
}

.title-h3 {
    font-size: 36px;
    color: colors.$white;
    font-weight: 600;
    line-height: 130%;
}

.title-h4 {
    font-size: 30px;
    font-weight: 600;

    &-regular {
        font-weight: 400;
    }
}

.title-h5 {
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 18px;
    font-weight: 400;
    color: colors.$gray950;
    opacity: 70%;

    &-red {
        color: colors.$red600;
    }
}

.info-text {
    font-size: 16px;
    font-weight: 400;
    color: colors.$gray950;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    color: colors.$white;
    opacity: 70%;
}