@use '/src/global/colors';


.title-h1 {
    font-size: 70px;
    color: colors.$white50;
    font-weight: 600;
    line-height: 160%;
}

.title-h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 160%;
}

.title-h3 {
    font-size: 36px;
    color: colors.$white50;
    font-weight: 600;
    line-height: 130%;
}

.title-h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
}

.title-h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
}

.descr {
    font-size: 18px;
    font-weight: 400;
    opacity: 70%;
    line-height: 160%;

    &--link {
        color: colors.$red600;
        opacity: 100%;
    }
}

.info-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.base-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
}

.copyright {
    font-size: 16px;
    font-weight: 400;
    color: colors.$white50;
    opacity: 70%;
    line-height: 160%;
}

.descr-m {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: colors.$gray950;
    opacity: 70%;

    &--link {
        font-size: 16px;
        color: colors.$red600;
        opacity: 100%;
    }
}

.data-text {
    font-size: 60px;
    font-weight: 600;
    line-height: normal;
    color: colors.$red600;
}