@use '../../global/colors';

.mobile-banner {
    background-image: url('/public/images/bg/mob-banner-bg.jpg');
    background-repeat: no-repeat;
    background-position-x: center;
    text-align: center;

    &__content {
        flex: 1 1;
    }

    &__header {
        white-space: nowrap;
    }
}