@use '../fonts';
@use '../colors';

@mixin baseFont($color: colors.$gray900op70, $fontWeight: 400) {
    color: $color;
    font-family: 'Jost';
    font-style: normal;
    font-weight: $fontWeight;
    line-height: 160%;
}