@use '../../global/colors';

.swiper {
    &-slide {
        width: 360px;
    }


    &-button-disabled {
        opacity: 1 !important;
    }
}

.trainers {

    &__slider {
        max-width: 1160px;
        width: 100%;
        height: 746px;
        position: relative;
    }

    &__slide {
        width: 220px;
    }

    // &-card-profile {
    //     &-mob {

    //     }
    // }

    &__pagination {
        height: 5px;

        .swiper-pagination-progressbar-fill {
            background: colors.$gray950;
        }
    }

    &__next-btn {
        top: 97.8%;
        width: 40px;
        height: 40px;

        &::after {
            content: '' !important;
            width: 40px;
            height: 40px;
            background-image: url('/images/icons/next.svg');
        }
    }

    &__prev-btn {
        left: 90.2%;
        top: 97.8%;
        width: 40px;
        height: 40px;


        &::after {
            content: '' !important;

            width: 40px;
            height: 40px;
            background-image: url('/images/icons/prev.svg');
        }
    }

    @media screen and (min-width: 1200px) {
        .trainers__next-btn {
            top: 97.8%;
        }

        .trainers__prev-btn {
            left: 91.4%;
            top: 97.8%;
        }
    }

    @media screen and (min-width: 992px) {
        .trainers__pagination {
            width: 360px !important;
        }
    }

    @media screen and (max-width: 992px) {
        .trainers__next-btn {
            display: none;
        }

        .trainers__prev-btn {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        .swiper-slide {
            width: 220px;
        }

        .trainers__pagination {
            top: 98.5%;
            height: 5px;
        }

        .trainers__slider {
            height: 483px;
        }
    }

    @media screen and (min-width: 576px) {
        .trainers__pagination {
            top: 97%;
            height: 5px;
        }
    }




}