@use '../../global/colors';

.footer {
    background-color: colors.$gray950;

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;
    }

    &__logo-copy {
        display: block;
    }
}

@media screen and (min-width: 576px) and (max-width: 1200px) {
    .footer__content {
        padding: 40px 10px;
        display: block;
    }
}