@use '/src/global/colors';

.banner {

    background-color: colors.$gray950;

    &-wrapper {
        background-image: url('/images/banner-img.png');
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: bottom;

    }

    &__content {
        padding-top: 344px;
        padding-bottom: 411px;
    }
}