@use '/src/global/colors';

.banner {
    background-image: url('/images/banner-img.png');
    background-repeat: no-repeat;
    background-position-x: center;

    width: 100%;
    height: 100%;
    background-color: colors.$gray950;

    &__content {
        padding-top: 344px;
        padding-bottom: 411px;
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 50px;
    }
}