@use '/src/global/colors';

.app-header {
    position: absolute;
    z-index: 1;
    width: 100%;

    &__top-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        grid-column-gap: 40px;

        &-item {
            color: colors.$white;
        }
    }

    &__num {
        color: colors.$white;
        line-height: 160%;
    }
}