@use '/src/global/colors';
@use '/src/global/breakpoints';

.app-header {
    position: absolute;
    z-index: 1;
    width: 100%;

    &__top-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        grid-column-gap: 40px;

        &-item {
            color: colors.$white50;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: colors.$white50;
                height: 2px;
                bottom: 0;
                left: 0;
                width: 0%;
                transition: 0.4s ease;
            }

            &:hover:before {
                width: 100%;
            }
        }
    }

}